@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';
@import 'primeflex/themes/primeone-dark.css';


.card {
  padding: 2em;
}

#app {
  min-width: 680px;
  min-height: 480px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

